S3method(coef,FDboost)
S3method(fitted,FDboost)
S3method(plot,FDboost)
S3method(predict,FDboost)
S3method(print,FDboost)
S3method(residuals,FDboost)
S3method(summary,FDboost)
export(FDboost)
export(bbsc)
export(bconcurrent)
export(bolsc)
export(brandomc)
export(bsignal)
export(cvMa)
export(funMRD)
export(funMSE)
export(funRsquared)
export(funplot)
export(integrationWeights)
export(plotPredicted)
export(plotResiduals)
export(truncateTime)
import(Matrix)
import(mboost)
importFrom(mgcv,gam)
importFrom(mgcv,s)
importFrom(splines,bs)
importFrom(splines,splineDesign)
